---
import Html from "../layouts/HtmlLayout.astro";
import logo from "../images/Logo-Sigue-Adelante-Header-1-1-scaled.jpg";
import { Image } from "astro:assets";
import Reproductor from "../components/base/Reproductor";
import MainMenu from "../components/base/MainMenu";
import CarouselNews from "../components/base/CarouselNews";
import CarouselPartners from "../components/base/CarouselPartners";
import EventsComponent from "../components/base/EventsComponent";
---

<Html title="Sigue adelante radio">
  <div class="lg:h-screen bg-background">
    <div class="lg:columns-3 h-full gap-0">
      <div class="h-full">
        <div class="border-1 border-primary h-1/2 items-center flex">
          <MainMenu client:only />
        </div>
        <div class="border-1 border-primary h-1/2">
          <CarouselNews client:only />
        </div>
      </div>

      <div class="h-full">
        <div class="border-1 border-primary p-10">
          <Reproductor client:only />
        </div>
        <div
          class="border-1 border-primary content-center justify-center grid bg-primary"
        >
          <Image
            src={logo}
            title="Sigue adelante radio"
            alt="main logo"
            height="500"
            width="500"
          />
        </div>
        <div class="border-1 border-primary"></div>
      </div>

      <div class="h-full">
        <div class="border-1 border-primary h-1/2">
          <CarouselPartners client:visible />
        </div>
        <div class="border-1 border-primary h-1/2 overflow-y-scroll">
          <EventsComponent client:visible />
        </div>
      </div>
    </div>
  </div>
</Html>
